* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body,
#root,
main {
  height: 100%;
  width: 100%;
  background: black;
}

main {
  display: flex;
  align-items: center;
  justify-content: center;
}

.img-wrapper {
  display: grid;
  height:45rem;
  width: 30rem;

  .img {
    height:100%;
    width: 100%;
  } 
}