* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body,
#root {
  height: 100%;
  width: 100%;
  background: black;
}

main {
  width: 100%;
}

#page-1 {
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 5rem;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  color: white;
}

.animated-container {
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  overflow: hidden;
  
  .heading {
    font-size: 7rem;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: white;
    filter: url('#blobber');
  }
  
  .image-container {
    position: absolute;
    height: 100vh;
    width: 100%;
    top: 0;
    left: 0;
    
    .wrapper {
      position: absolute;
      height: 20rem;
      width: 15rem;
      overflow: hidden;
      z-index: -1;
      
      
      img {
        height: 100%;
        width: 100%;
        object-fit: cover;
      }
    }
  }
}

.loader-wrapper {
  position: fixed;
  inset: 0;
  z-index: 1000;
  display: flex;
  pointer-events: none;
  
  .stripes {
    background: rgb(25, 59, 54);
    height: 100%;
    width: 100%;
  }
}

.texter {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
  font-size: 2rem;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  color: white;
  z-index: 10000;
}