* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

html,
body,#root,main {
  height: 100%;
  width: 100%;
  background: black;
  color: white;
}

main {
  display: flex;
  align-items: center;
  justify-content: center;
}

.text-wrapper {
  font-size: 2rem;
  text-transform: uppercase;
}

.text-letter {
  display: inline-block;
}